@model IEnumerable<BlogAppAdmin.Models.UserModel>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">Posts</th>
            <th scope="col">Comments</th>
        </tr>
    </thead> 
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">{}</th>
                <td>@Html.DisplayFor(userItem => user.UserName)</td>
                <td>@Html.DisplayFor(userItem => user.PostsNumber)</td>
                <td>@Html.DisplayFor(userItem => user.CommentsNumber)</td>
            </tr>

        }
    </tbody>
</table>

