@model IEnumerable<BlogApp.Models.PostModel>

<div class="heading">New posts:</div>

@foreach (var item in Model)
{
    <div class="preview">
        <p>
            @Html.ActionLink(item.Title, "OpenPost", "Blog", new { postId = item.Id }, null)
            <span class="badge">@Html.Action("CommentsCount", "Blog", new { postId = item.Id })</span>
        </p>

        <p class="user-name">@Html.DisplayFor(modelItem => item.AuthorName)</p>  <p class="date">@Html.DisplayFor(modelItem => item.Date)</p>
    </div>
}